<div class="container">
  <h2>{{this.name}}</h2>
  <p *ngIf="modules.length != 0 && !modules?.length"><em>Loading...</em></p>
  <div class="card" *ngFor="let module of modules">
    <a data-bs-toggle="collapse" href="{{'#module' + module.sequenceNum}}" class="card-header btn" aria-expanded="false">
      {{ "Module " + module.sequenceNum + " " + module.name }}
    </a>
    <div class="collapse card-body" id="{{'module' + module.sequenceNum}}">
      <app-material-info [moduleId]="module.id"></app-material-info>
    </div>
  </div>
  <h1 *ngIf="modules.length == 0">There is no lectures in this course yet, please come back later.</h1>
</div>
<!--ToDo in every html file: texts should be in TextService!-->
