//Note: Removing extra spaces makes bootstrap collapse smooth.

.card-body {
  padding: 0rem;
}

.card-header {
  text-align: left;
}

app-material-info {
  padding: 0rem;
  margin: 0;
}

/*.item {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursore:move
}*/

.cdk-drag-placeholder {
  opacity: 0.4;
}
