/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #122246;
  background-color: #fff;
  border-color: #122246;
  text-decoration-line: none !important;
}

.btn {
  color: #122246;
  background-color: #fff;
  border-color: #122246;
  text-decoration-line: none !important;
}

.card {
  margin: 2%;
  border-color: #122246 !important;
  text-align: center !important;
}

.card-header {
  background-color: #122246 !important;
  color: aliceblue !important;
}

/*GLASS EFFECT
  background: rgba(18, 34, 70, 0.3) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  */