a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

nav {
  background-color: #122246 !important;
  color: #f8f9fa !important;
}

.nav-link, .navbar-brand {
  color: #f8f9fa !important;
}
